**/*.DS_Store
**/*.directory
**/*.gcode
**/*-proposed-baseline.png
**/*.project
**/*.classpath
**/.settings/
**/nbactions-release-profile.xml
/OpenSCAD/inline-tool/target/
/OpenSCAD/models/target
/OpenSCAD/native-customizer/target/
/OpenSCAD/inline-tool/target/
/OpenSCAD/opensacd-services/target/
/OpenSCAD/test-suite/target/
/OpenSCAD/test-suite/.settings/

/javascad/target/