**/*.DS_Store
**/*.directory
**/*.gcode
**/*-proposed-baseline.png
**/*.project
**/*.classpath
**/.settings/
**/nbactions.xml
**/nbactions-release-profile.xml

/openscad/inline-tool/target/
/openscad/models/target
/openscad/native-customizer/target/
/openscad/inline-tool/target/
/openscad/opensacd-services/target/
/openscad/test-suite/target/
/openscad/test-suite/.settings/

/javascad/target/
/javascad/nb-configuration.xml
/javascad/licenseheader.txt