**/*.gcode
**/*-proposed-baseline.png
/OpenSCAD/test-suite/target/
/OpenSCAD/test-suite/.settings/
**/*.project
**/*.classpath
**/.settings/
/OpenSCAD/native-customizer/target/
/OpenSCAD/inline-tool/target/